*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--darkBlue);
    color: #fff;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    z-index: 100;
}
.background__one{
    background-color:  hsl(217, 28%, 15%);
    height: 170vh;
    /* padding-bottom: 15rem; */
}
.features{
    position: relative;
    
}
.feature{
    z-index: 2;
}
.curve__background{
    background-image: url("../images/bg-curvy-desktop.svg");
    background-size: cover;
    background-position: center;
    margin-top: -29rem;
    height: 70vh;
    width: 100vw;
    z-index: 1;
    

}


img{
    width: 100%;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.25rem;
}
p{
    color: var(--lightWhite);
    font-size: 1rem;
}
uL{
    list-style: none;
}
a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
h1,h2,a,.button{
    font-family: var(--raleway);
}
:root{
    --darkBlue:  hsl(218, 28%, 13%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --lightRed: hsl(0, 100%, 63%);
    --lightWhite: rgba(255, 255, 255, 0.75);
    --openSans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;

}
.big__container{
    margin: auto;
    width: 80vw;
}
.small__container{
    margin: auto;
    width: 60vw;
}
.flex{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.button{
    border: none;
    background-image: linear-gradient(to right,var(--cyan),var(--blue));
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    padding: .75rem 3rem;
    z-index: 10;
    margin-top: 1.5rem;
}

header{
    padding: 5rem 0 2rem 0;
}

.header__nav a{
    font-size: 1rem;
    margin-left:  2rem;
    padding: .5rem;
}
.header__nav a:hover{
    border-bottom: 2.5px solid var(--blue);
}

/*intro*/
.intro{
    flex-direction: column;
    text-align: center;
    
}
.intro h2{
    color: var(--lightWhite);
    margin: 2rem 0 1rem 0;
    z-index: 10;
}

.features{
    padding: 2rem 0;
    text-align: center;
}
.features .small__container{
    flex-wrap: wrap;  
    gap: 1rem;  
}
.feature{
    width: 20rem;
}
.feature__icon{
    width: 6.5rem;
    margin: auto;
}

.feature__title{
    margin: 1rem 0;
}

/*productive */
.productive {
    justify-content: space-between;
    padding: 10rem 0;
}

.productive P{
    margin: 1rem 0;
}
.productive a{
    border-bottom: 2px solid var(--cyan);
    color: var(--cyan);
    position: relative;
    padding:0 2.5rem .25rem 0;
}
 .productive a::after{
    border-radius: 50%;
    background: var(--cyan);
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%,-50%);
}

/*cards*/
.cards{
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 25rem;
}
.card{
    background: #21293c;
    width: 22.5rem;
    min-height: 11rem;
    padding: 2rem 1rem;
    border-radius: 2.5px;
    box-shadow: 6px 4px #1c2230;
}
.avatar{
    justify-content: flex-start;
    margin-top: 1rem;
}
.avatar__image{
    height: 30px;
    width: 30px;
    margin-right: 1rem;
}
.avatar__image img{
    border-radius: 50%;
}
.avatar p{
    font-size: .75rem;
}
/*access*/
.footer{
    background: #0c1524;
    position: relative;
    min-height: 75vh;
}
.access{
    background: #1c2230;
    border-radius: 5px;
    width: 70vw;
    position: absolute;
    padding: 2rem;
    top: -20%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-20%);
}
.access p{
    margin: 1rem 0;
}
.user__email__input{
    border: none;
    background: transparent;
    width:50% ;
    background-color: #fff;
    padding:.75rem 2rem;
    border-radius: 50px;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.footer__details img{
    width: 15px;
}
.footer__details{
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
    
    align-items: flex-start;
}
.footer .big__container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12.5rem;
}
.footer__links ul{
    height: 250px;
    width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer__links li{
    margin: 0rem 0 2rem 1rem;
}
.social__link{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    margin: 0 1rem;
}


/*media queries*/
@media only screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    header .flex{
        flex-direction: row;
}
    header{
        flex-direction: row !important;
        padding: 2rem 1rem;
}
    .header__nav a{
        font-size: .75rem;
        margin-left: 0rem;
        padding: .5rem;
}
    .logo{
        width: 25%;
}
    .flex{
        flex-direction: column;
        align-items: flex-start;
}
    .background__one{
        height: 75vh;
}
    .curve__background{
        background-image: url("../images/bg-curvy-mobile.svg");
        background-size: cover;
        height: 39vh;
        margin-top: -9rem;
}
    .features{
        margin-top: 10rem;
}
    
    .big__container{
        margin: auto;
        width: 75vw;
}
    .small__container{
        margin: auto;
        width: 90vw;
}
    .button{
        margin: 1.5rem auto;
}
  .productive{
      text-align: center;
}
  .productive__left__image{
    width: 85%;
    margin:auto;
}
  .productive h1{
      font-size: 1rem;
      margin-top: 3rem;
}
.cards{
    width: 90%;
}
.card{
    width: 100%;
}
  .user__email__input{
    width:100% ;
    margin-right: 0rem;
}
.location, .telephone,.email{
    flex-direction: row;
    margin-bottom: 2rem;
    justify-content: flex-start;
}

.location img, .telephone img, .email img{
    margin-right: 1rem;
}
.social__links{
    flex-direction: row;
    margin-bottom: 1rem;
}
.social__link{
    margin: 0;
    margin-right: 1rem;
}
.footer__details li{

    margin-left: 0;
}
.access .button{
    margin: 0;
}
.access{
    width: 90%;
}
}